
.header {
    overflow: hidden;
    position: fixed;
    top: 0; /* plasează header-ul în partea de sus a paginii */
    left: 0; /* asigură alinierea la stânga */
    right: 0; /* asigură alinierea la dreapta */
    z-index: 1000; 
    background-color: #012801;
    padding: 20px 10px;
    
  }
  
  .main-content {
    margin-top: 60px; /* pentru a se potrivi înălțimii header-ului */
}
  
  .abt:hover{
    background-color: #99FFCC;
    color: #009966;
  }

  .conct:hover{
    background-color: #99FFCC;
    color: #009966;
  }

  .hm:hover{
    background-color: #99FFCC;
    color: #009966;
  }

  /* Style header links */
  .header a {
    float: left;
    color: #fafcfb;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 20px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  /* Style logo link */
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }

  /* Style iconița */
.header a.logo i {
    color: #fafcfb; /* culoarea iconiței */
    margin-right: 5px; /* spatiul între iconiță și text */
}
  

  
  /* Muta butoane in dreapta */
  .header-right {
    float: right;
  }


  /* Ascunde meniul desfășurat inițial */
.dropdown-content {
    display: none;
    position: fixed;
    background-color: #012801;
    width: 120px;
    height: auto; 
    border: 5px solid #024e02; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10001;
  }
  
  /* Style butonul care deschide meniul */
  .dropbtn {
    background-color: #012801;
    color: #fafcfb;
    padding: 15px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  /* Schimbă culoarea cand mouse-ul este peste buton */
  .dropbtn:hover {
    background-color: #99FFCC;
    color: #009966;
  }
  
  /* Style link-urile din meniu */
  .dropdown-content a {
    color: #fafcfb;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    width: 100%; 
    box-sizing: border-box; 
  }
  
  /* Schimbă culoarea link-urilor din meniu la hover */
  .dropdown-content a:hover {
    background-color: #99FFCC;
    color: #009966;
    
  }
  
  /* Arată meniul desfășurat când butonul este apăsat */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Style butoanele de conectare */
  .header .header-right .dropdown {
    float: left;
    overflow: hidden;
    float: none;
    display: block;
    text-align: left;
  }
  
  /* Poziționează butoanele */
  .header .header-right .dropdown a {
    float: none;
    display: block;
    text-align: left;
    margin-left: 4px;
  }

  /* Style containerul pentru iconița utilizatorului */
.user-icon {
    padding: 12px 0px; 
    display: flex;
    align-items: left; 
    justify-content: center; 
  }
  
  /* Style iconița utilizatorului */
  .user-icon i {
    color: #fafcfb;
    font-size: 18px;
    margin-right: 30px;
    
  }

  .user-dropdown {
    float: left;
}

/* Ajustare stil butonul utilizatorului */
.user-dropdown .dropdown {
    position: relative;
    display: inline-block;
}

/* Stil pentru butonul utilizatorului */
.user-dropdown .dropbtn {
    background-color: #012801;
    color: #fafcfb;
    padding: 15px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

/* Stil pentru conținutul dropdown-ului utilizatorului */
.user-dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #012801;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1001;
}

/* Afișare conținut dropdown atunci când hover pe butonul utilizatorului */
.user-dropdown:hover .dropdown-content {
    display: block;
}

/* Stil pentru link-urile din dropdown */
.user-dropdown .dropdown-content a {
    color: #009966;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Schimbă culoarea link-urilor din dropdown la hover */
.user-dropdown .dropdown-content a:hover {
    background-color: #99FFCC;
    color: #009966;
}

/* Stil pentru butonul "Log in" atunci când treci cu mouse-ul peste el */
.user-dropdown .dropbtn:hover {
  background-color: #99FFCC;
  color: #009966; /* Schimbă culoarea textului atunci când hover */
}

.home-section {
  text-align: right; 
  padding: 20px 20px; /* Adaugă un spațiu între conținut și margini */
  background-image: url('background.jpg'); 
  background-size: cover;
  background-repeat: no-repeat; 
  height: 100vh;
  width: 100%;  
  margin: auto;
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
}

.home-section h2 {
  margin-top: 20px;
  margin-right: 250px;
  font-family: system-ui;
  font-size: 20px;
  color: #fcfefd;
}

.home-section h3 {
  font-size: 20px;
  margin-left: calc(50% + 35px);
  margin-top: 20px;
  text-align: justify;
  font-family: system-ui;
  margin-right: 20px;
  color: #fcfefd;
}

.home-section p {
  font-family: fantasy;
  font-size: 50px; 
  margin-right: 47px;
  color: #fcfefd; 
  margin-bottom: 25px;
  
 }

 .home-section h4 {
  margin-right: 20px;
  font-family: system-ui;
  font-style: italic;
  font-size: 28px;
  color: #fcfefd;
}

/* Stiluri pentru containerul de imagini *
.image-container {
  display: flex; 
  justify-content: center; 
}*/

/* Stiluri pentru imagini 
.image-container img {
  width: 300px; 
  height: auto; 
  margin: 0 20px; 
  max-width: 100%; 
  max-height: 100%;
  
}*/


.contact-button {
  width: 200px;
  align-self: flex-end;
  display: inline-block;
  padding: 10px 20px;
  background-color: #012801;
  color: #fafcfb;
  font-family: system-ui;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  border: 3px solid #3f6f1c;
  cursor: pointer;
  margin-right: 250px;
}

.contact-button:hover {
  background-color: #99FFCC;
  color: #012801;
}

body {
  display: block;
  margin: 0px;
}
