<div class="home-section">
    <h2>Bun venit pe site-ul meu</h2>
    <p><a> Bijuterii unice realizate manual</a></p>
    <h3>Bine ați venit pe JewelryByMe, destinația perfectă pentru bijuterii unice și elegante, create cu pasiune și atenție la detalii. Descoperiți colecția noastră rafinată, unde fiecare piesă strălucește în lumina proprie, întruchipând frumusețea și rafinamentul. Fie că căutați bijuterii clasice sau designuri moderne și îndrăznețe, suntem aici pentru a vă ajuta să găsiți exact ceea ce vă reprezintă. Bucurați-vă de o experiență de cumpărături plină de strălucire și eleganță, și transformați fiecare moment într-o ocazie specială.</h3>
  <!--  <div class="image-container">
        <img src="image1.jpg" alt="Imagine 1">
        <img src="image3.jpg" alt="Imagine 2">
        <img src="image2.jpg" alt="Imagine 3">
    </div> -->
    <h4>DORIŢI  BIJUTERII  REALIZATE  SPECIAL  PENTRU DVS.?</h4>
    <a routerLink="/contact" class="contact-button">Contactează-mă</a>
</div>
