$header-bg-color: #012801;
$hover-bg-color: #99FFCC;
$hover-text-color: #009966;

$header-height: 60px; // Înălțimea header-ului pentru a ajusta margin-top pentru main-content

.cards-section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 20px;
  background-image: url('./../../assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .card {
      display: flex;
      width: 80%;
      margin: 20px;
      background-color: #012801;
      border-radius: 20px; // Marginile rotunjite
      overflow: hidden;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

      .card-details {
          flex: 1;
          padding: 20px;
          margin-top: 30px;
          margin-right: 20px; 
          color: #ffffff;

          h3 {
              font-family: Arial, sans-serif;
              font-size: 20px;
              margin-bottom: 10px;

              span {
                  font-weight: bold;
              }
          }

          .buttons {
              margin-top: auto;

              button {
                  padding: 10px 20px;
                  margin-right: 10px;
                  font-family: Arial, sans-serif;
                  font-size: 14px;
                  border:#009966;
                  border-radius: 5px;
                  cursor: pointer;
                  transition: all 0.3s ease; // Tranzitia pentru hover

                  &.add-to-cart {
                      background-color: #3f6f1c;
                      color: #ffffff;

                      &:hover {
                          background-color: $hover-bg-color; // Hover pe butonul de adaugare in cos
                          color: $hover-text-color;
                      }
                  }

                  &.add-to-favorites {
                      background-color: #3f6f1c;
                      color: #ffffff;

                      &:hover {
                          background-color: $hover-bg-color; // Hover pe butonul de adaugare la favorite
                          color: $hover-text-color;
                      }
                  }
              }
          }
      }

      .card-image {
          flex: 1;
          text-align: center;

          img {
            width: 100%;
            max-height: 350px; // Limitarea înălțimii maxime a imaginii
            object-fit: contain; // Asigurarea păstrării proporțiilor fără distorsionare
            margin-top: 13px;
            margin-bottom: 10px;
            margin-right: 10px;
            
          }
      }
  }
}
