.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    background-image: url('/assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: relative;  // Adăugat pentru poziționarea absolută a pseudo-elementului
  
    .form-container {
        background-color: rgba(187, 224, 191, 0.8);  // Culoare albă cu opacitate 80%
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;  // Ajustați lățimea după cum este necesar
        max-width: 400px;  // Lățime maximă pentru a evita extinderea prea mare
        z-index: 1;  // Asigură-te că este deasupra background-ului
    }
  
    .mat-form-field {
        width: 100%;  // Câmpurile formularului ocupă întreaga lățime a containerului
        margin-bottom: 20px;
        color: #000000;  // Schimbă culoarea textului pentru a fi vizibil pe fundalul semitransparent
    }
  
    .error-message {
        color: rgb(223, 22, 22);
        margin-bottom: 20px;
        font-size: 20px;
    }
  
    button {
        width: 20%;  // Butonul ocupă întreaga lățime a containerului
        border: none;
        border-radius: 5px;
        background-color: green;
        color: aliceblue;
        font-size: 20px;
    }
  }
  