<div class="header">
    <a><i class="fas fa-gem"></i> JewelryByMe</a>
    <div class="header-right">
        <a routerLink="/home" class="hm">Home</a>
        <a routerLink="/contact" class="conct">Contact</a>
        <button (click)="goBack()" class="abt hm">Back</button>
        </div>
        <div class="dropdown">
            <button class="dropbtn"><i class="fas fa-bars"></i> MENU </button>
            <div class="dropdown-content">
                <a routerLink="/earings">Earrings</a>
                <a routerLink="/chains">Chains</a>
                <a routerLink="/bracelets">Bracelets</a>
                <a routerLink="/rings">Rings</a>
            </div>

        </div>

</div>
